{% extends 'index.html' %}

{% block content %}
<section id="splash" class="full row">
	
	<div id="splash-image" class="col-12 img-bg rel no-mar" style="background-image:url(/static/img/{{ image }});">
		<div class="overlay flex">
			<p class="bold">All of your Spotify podcasts and episodes on one simple page</p>
			<form action="{% url 'spotify-auth' %}" method="POST">
				{% csrf_token %}
				<button type="submit">Get Started with Spotify Login</button>
			</form>
		</div>
	</div>
	
	<!-- <div id="splash-forms" class="col-4 flex no-mar">
		<div id="splash-forms-inner">
			<img src="/static/img/logo.png" alt="CMHS Dynasty Logo">

			<div v-if="showRegistration">
				{% include 'forms/registration.html' %}
			</div>
			<div v-if="!showRegistration">
				{% include 'forms/login.html' %}
			</div>

			<p><a @click="toggleForm" href="#">[[ linkText ]]</a></p>
		</div>
	</div> -->

</section>



<script>
	
	const app = Vue.createApp({
		delimiters: ['[[', ']]'],
		
		data() {

			const loginLinkText = "Don't have an account? Register"
			const registrationLinkText = "Already have an account? Login"
			const formToShow = '{{ form_to_show }}'

			return {
				loginLinkText: loginLinkText,
				registrationLinkText: registrationLinkText,
				showRegistration: formToShow != 'login' ? true : false,
				linkText: formToShow != 'login' ? registrationLinkText : loginLinkText
			}
		},
		methods: {
			toggleForm(){
				this.showRegistration = !this.showRegistration
			}
		},
		watch: {
			showRegistration(newValue){
				if(newValue) this.linkText = this.registrationLinkText
				else this.linkText = this.loginLinkText
			}
		}
	})
	app.mount('#splash-forms-inner')

</script>



{% endblock %}